body {
    background: rgb(54, 189, 222);
    font-family: Brandon Grotesque;
  }
  
  .menu {
    background-color: white;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: #2b4960;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-title,
  .site-subtitle {
    text-align: center;
    color: #2b4960;
  }
  
  .site-subtitle {
    font-style: italic;
  }
  